<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Adeoye</title>
</head>
<body>
    <main class="main-title">
        <div class="details">
            <h2>Adegbite Adeoye, {{val}} </h2>
            <p>Story Artist | Software Dev.</p>
        </div>
    </main>
    
    <footer class="foot-title">
        <p>Copyright {{year}}. Built by Adeoye</p>
    </footer>
</body>
</html>