
body{
    background-color: rgb(44, 34, 72);
    background-image: radial-gradient(#ac9bc64d, #1f062fdd);
}

.main-title{
    background-color: rgb(198, 209, 209);
    background-image: linear-gradient(to bottom, #fff, #bbb);
    box-shadow: -5px -5px 0px inset  #888888  ;
    
    display: flex;
    width: 50vw;
    height: 30vh;
    justify-content: center;
    align-items: center;
    margin: 30vh auto;
    border-radius: 20px 0;
}

h2, p{
    font-family:cursive;
    color: brown;
}

.foot-title{
    align-self: flex-end;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom, #ac9bc611, #1f062fdd );
}

.foot-title p {
    color: #f0b4f9;
}

