<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adeoyte</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div>
        <img src="static/pics.png" alt="My picture" style="float: left; width:100px; margin:10px; border-radius: 50px;">
        <h1>Adegbite Adeoye</h1>
        <p>Founder and CEO of Esense Group 💖</p>
        <p>I am Currently working as a story head at <a href="https://#">Basement Animation</a></p>
    </div>
<hr>
<div>
    <h2>Courses Attending </h2>
    <ul>
        <li>C++11/14/17 for Beginners     ⭐⭐⭐⭐⭐</li>
        <li>The Complete Web dev. Bootcamp ⭐⭐⭐⭐⭐</li>
    </ul>
</div>
</body>
</html>